html,
body,
#root {
  height: 100%;
  font-family: 'Microsoft Yahei', Arial, Verdana, sans-serif;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.transition-enter {
  opacity: 0;
  z-index: 1;
  margin-left: -3000px;
}

.transition-enter.transition-enter-active {
  opacity: 1;
  margin-left: 0;
  transition: all 300ms cubic-bezier(.61, .15, .29, 1.26);
}

.transition-exit.transition-exit-active {
  display: none;
}